name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: github-runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.19.6'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Login to Harbor
        uses: docker/login-action@v2
        with:
          registry: k8s-harbor.register.com
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker rmi -f $(docker images | grep 'test-website' | awk '{print $2}') || echo "Not Found"
          
          TAG=$(date +%Y%m%d%H%M%S)
          echo "Building image with tag: $TAG"
          
          docker build -t k8s-harbor.register.com/test-website/test-website:$TAG -f docker/Dockerfile .          
          docker push k8s-harbor.register.com/test-website/test-website:$TAG
          
